*{
    box-sizing: border-box;
    margin: 0;
}
body{
    /* background-image: linear-gradient(to right, #F4CE14  , #495E57 ); */
    background-color: antiquewhite;
    border: 15px solid gray;
    border-radius: 15px;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}  
.placeofshapes{
    display: flex;
    margin: 60px;
    align-items: center;
    width: 500px;
    justify-content: space-around;
}
.shapes{
    display: flex;
    margin: 60px;
    align-items: center;
    width: 500px;
    justify-content: space-around;
}
.placeofshapes .general{
    background-color: #B9B4C7;
    position: relative;
}
.cir{
    width: 50px;
    height: 50px;
    background-color: blue;
    margin-bottom: 10px;
    border-radius: 50%;
    /* margin-left: 30px;
    margin-right: 30px; */
}
.rec{
    width: 70px;
    height: 50px;
    background-color: red;
    margin-bottom: 10px;
    /* margin-left: 30px;
    margin-right: 30px; */
}
.tri{
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    clip-path: polygon(50% 0%,0% 100%,100% 100%);
    margin-bottom: 10px;
    /* margin-left: 30px;
    margin-right: 30px; */
}
.squ{
    width: 50px;
    height: 50px;
    background-color: #f03de7;
    margin-bottom: 10px;
    /* margin-left: 30px;
    margin-right: 30px; */
}
.penta {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    width: 50px;
    height: 50px;
    /* margin-left: 30px;
    margin-right: 30px; */
    background-color: green;
  }
  
  .hexa {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: yellow;
    width: 50px;
    height: 50px;
    /* margin-left: 30px;
    margin-right: 30px; */
  }